<div class="card group">
  <form class="form-group">
    <input type="text" name="title" class="new-card form-control" placeholder='Title...'>
    <input type="text" name="description" class="new-card form-control" placeholder="Description...">
  </form>
  <button class="btn btn-success add-btn">Add</button>
</div>
