/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background: -webkit-linear-gradient(70deg, #008AE6, #006EB8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(70deg, #008AE6, #006EB8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(70deg, #008AE6, #006EB8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(70deg, #008AE6, #006EB8); /* Standard syntax */
  background-size: cover;
  background-attachment: fixed;
}

nav.navbar {
  background-color: #006EB8;
  border: none;
}

.navbar-default a.navbar-brand {
  color: white;
}

button.board-item {
  height: 100px;
  width: 300px;
  margin: 20px;
  font-size: 22px;
}

.add-board {
  float: left;
}

input {
  color: gray;
}

.boards {
  float: left;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

.center {
  text-align: center;
}

div.list {
  background: #DDD;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

div.card {
  background: #FFF;
  padding: 1px 5px;
  margin: 3px 10px;
  border-radius: 4px;
  border-bottom: 1px solid #AAA;
  position: relative;
  overflow: hidden;

}

div.cards {
  min-height: 20px;
}

.dragged {
  transform: rotate(7deg);
}

.invisible {
  transition: opacity .22s ease-in-out;
  display: block;
  opacity: 0;
}

button.delete-board {
  transition: opacity .22s ease-in-out;
  position: absolute;
  bottom: 25px;
  right: -5px;
}

button.delete-list {
  transition: opacity .22s ease-in-out;
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 0px 5px;
  height: 20px;
  font-size: 13px;
}

button.delete-card {
  transition: opacity .22s ease-in-out;
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0px 5px;
  height: 20px;
  font-size: 10px;
}

button.card-add {
  position: relative;
  display: block;
  margin: auto;
  background: #CCC;
  border: none;
}

.group {
  position: relative;
}

.group::after {
  content: "";
  display: block;
  clear: both;
}

.neverending-col {
  width: 150px;
  white-space: nowrap;
}

div.container {
  white-space: nowrap;
}

input.new-card {
  width: 110px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
}

button.add-btn {
  margin-top: 4px;
}

div.backdrop {
  top: 50px;
  position: relative;
}

div.container.container-fluid {
  width: 100%;
}

nav.navbar.navbar-default {
  position: fixed;
  left: 0;
  right: 0;
}

div.add-list-container {
  display: inline-block;
  white-space: nowrap;
}

div.list-add {
  position: absolute;
  bottom: -15px;
}

div.new-list {
  background: #DDD;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
}
